[Desktop Entry]
Name=Jamaendo
GenericName=Jamendo.com Free Music Player
Comment=Streams music licensed under Creative Commons from jamendo.com
Exec=jamaendo
Icon=jamaendo
Terminal=false
Type=Application
Categories=Audio;GTK;
X-HildonDesk-ShowInToolbar=true
