@charset "utf-8";

input.button { cursor: pointer; }

img {
    border: none;
}

body {
    font-family: "Linux Libertine", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: #F5F7EE;
    color: #222;
}

a {
    text-decoration:none;
    /*border-bottom:1px dotted;*/
    color: #CC0000;
}

a:hover {
    color: #ff0000;
    background: #f0fff0;
    /*border-bottom:2px solid;*/
}

h1 {
    color: #333;
    line-height: 2em;
}

#header {
    width: 800px;
    margin: 0 auto;
    padding: 16px;
    color: #555;
    font-size: 4em;
}

#header img {
    float:right;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

#footer {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 128px;
    font-size: 0.75em;
    color: #aaa;
    padding: 8;
}

#footer a {
    color: #cc0000;
}


code, pre {
    color: #204a87;
    font-family: "Droid Sans Mono", "Liberation Mono", "Consolas", "DejaVu Sans Mono", monospace;
}

